
* {
	box-sizing: border-box;
}
body {
	font-size: clamp(16px, 1.5vw + 10px, 50px);
	/* background: black; */
	background: rgb(2, 0, 36);
	background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(1, 1, 12) 100%);
	color: white;
	margin: 0;

	/* font-family: 'Baskerville', 'YuMincho +36p Kana', 'Hiragino Mincho ProN W6', serif; */
	/* font-family:  'Mplus 1p', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic', sans-serif; */
	font-family: 'UD Digi Kyokasho NK-B', serif, 'YuMincho +36p Kana', 'Hiragino Mincho ProN W6';

  backdrop-filter: blur(5px) brightness(60%);
  -webkit-backdrop-filter: blur(5px) brightness(60%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
  height: 100svh;
  margin: 0;
  text-align: center;

  /* font-family: "Noto Serif SC", serif; */
	/* font-family:  "SongTi SC", "Calisto MT", serif, "KaiTi", "KaiTi SC"; */

  /* to prevent overflow */
  width: 100vw;
}

h1 {
	font-weight: 900;
}

button {
	border-radius: 10px;
	border: 1px solid white;
	padding: 0.5em 1em;
	font-size: 0.5em;
	/* font-weight: 500; */
	font-family: inherit;
	background-color: #000000;
	color: white;
	cursor: pointer;
	/* transition: border-color 0.25s; */
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

main {
			display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: clamp(18px, 1vw, 22px);
}

small {
	margin-top: 1em;
	font-size: 0.5em;
}

h1 {
	margin: 0;
}

p {
	margin: 0.5em 0 1em;
}